<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <h1>You Entered:</h1>
    <p><%= userInput %></p>
    <a href="/">Go back</a>
</body>
</html>
